 <!-- Jumbotron -->
      <div class="jumbotron">
      	<%= image_tag("Crowd-Logo-Text.png", :alt => "AwayCrowd Logo") %>
        <h1>What would you like to do?</h1>

      <hr>

      <!-- Example row of columns -->
      <div class="row-fluid">
        <div class="span6">        	 	
          <h3>Start an Event</h3>          
          <p><a class="btn btn-large btn-primary" href="#">View details &raquo;</a></p>
        </div>
        <div class="span6">
          <h3>Find an Event</h3>
          <p><a class="btn btn-large btn-warning" href="#">View details &raquo;</a></p>
       </div>        
      </div>
